<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.location">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="AIzaSyAEDbwcHfxrK8SzBwcHW9To54i95rWo8yE" />

        <activity
            android:name=".activities.user.ImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".activities.user.ImageGroupActivity" android:theme="@style/AppTheme2" />
        <activity android:name=".activities.user.MuseumActivity" />
        <activity android:name=".activities.MainActivity" android:theme="@style/AppTheme3"/>
        <activity android:name=".activities.user.LoginActivity" />
        <activity android:name=".activities.user.RegisterActivity" />
        <activity android:name=".activities.admin.AdminActivity" />
        <activity android:name=".activities.admin.WelcomeActivity" />
        <activity android:name=".activities.admin.ImageGroupActivity" />
        <activity android:name=".activities.admin.ImageActivity" />
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.ar.codelab.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>