<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.location">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="AIzaSyAEDbwcHfxrK8SzBwcHW9To54i95rWo8yE" />

        <activity
            android:name=".activities.user.ImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image"
            android:theme="@style/FullscreenTheme"></activity>
        <activity android:name=".activities.user.ImageGroupActivity" />
        <activity android:name=".activities.user.MuseumActivity" />
        <activity android:name=".activities.MainActivity"></activity>
        <activity android:name=".activities.user.LoginActivity"></activity>
        <activity android:name=".activities.user.RegisterActivity"></activity>
        <activity android:name=".activities.admin.AdminActivity"></activity>
        <activity android:name=".activities.admin.WelcomeActivity"></activity>
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>